{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h3 class="text-center">{{ header }}</h3>

<div id="reports">
	<table class="table report-table">
		<thead>
			<th>Event</th>
			<th>Income</th>
			<th>Expense</th>
			<th>Net</th>
		</thead>
		<tbody>
		    {% for i in events %}
		    	<tr>
			        <td><a href="{% url 'admission:admission' i.id %}">{{ i.name }}</a></td>
			        <td>{% if i.tickets_total == None %} $0.00 {% else %} ${{ i.tickets_total }} {% endif %}</td>
			        <td>{% if i.total_expenses == None %} $0.00 {% else %} ${{  i.total_expenses }} {% endif %}</td>
			        <td>${{ i.net }}</td>
			        <br />
			    </tr>
		    {% endfor %}
		    	<tr class="table-totals-row">
		    		<td colspan="3">Year to Date Income:</td>
		    		<td>${{netSum}}</td>
		    	</tr>
		</tbody>
</div>

{% endblock %}